In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv(r"D:\python.practice\My_project\Amazon_Power_BI\Main File\Data\Amazon Sale Report.csv", encoding='latin1')

In [5]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [6]:
df.tail()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
128971,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,False,NaN,NaN,NaN
128972,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,...,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,False,NaN,NaN,NaN
128973,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,...,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,False,NaN,NaN,NaN
128974,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,...,INR,1199.0,Halol,Gujarat,389350.0,IN,False,NaN,NaN,NaN
128975,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,...,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,False,NaN,NaN,NaN

In [7]:
df.describe()

,index,Qty,Amount,ship-postal-code,New,PendingS
count,128976.000000,128976.000000,121176.000000,128941.000000,0.0,0.0
mean,64486.130427,0.904401,648.562176,463945.677744,NaN,NaN
std,37232.897832,0.313368,281.185041,191458.488954,NaN,NaN
min,0.000000,0.000000,0.000000,110001.000000,NaN,NaN
25%,32242.750000,1.000000,449.000000,382421.000000,NaN,NaN
50%,64486.500000,1.000000,605.000000,500033.000000,NaN,NaN
75%,96730.250000,1.000000,788.000000,600024.000000,NaN,NaN
max,128974.000000,15.000000,5584.000000,989898.000000,NaN,NaN

In [8]:
df.shape

(128976, 21)

In [9]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128976 non-null  int64
 1   Order ID            128976 non-null  object
 2   Date                128976 non-null  object
 3   Status              128976 non-null  object
 4   Fulfilment          128976 non-null  object
 5   Sales Channel       128976 non-null  object
 6   ship-service-level  128976 non-null  object
 7   Category            128976 non-null  object
 8   Size                128976 non-null  object
 9   Courier Status      128976 non-null  object
 10  Qty                 128976 non-null  int64
 11  currency            121176 non-null  object
 12  Amount              121176 non-null  float64
 13  ship-city           128941 non-null  object
 14  ship-state          128941 non-null  object
 15  ship-postal-code    128941 non-null  float64
 16  ship-country        128941 non-null  object
 17  B2B                 128976 non-null  bool
 18  fulfilled-by        39263 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.8+ MB

### Dropping irrelevant columns

In [11]:
df.drop(["index", "Order ID"], axis=1, inplace=True)

In [12]:
df.columns

Index(['Date', 'Status', 'Fulfilment', 'Sales Channel', 'ship-service-level',
       'Category', 'Size', 'Courier Status', 'Qty', 'currency', 'Amount',
       'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'B2B',
       'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

### Percantage of missing values

In [13]:
df.isnull().sum()

Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                7800
Amount                  7800
ship-city                 35
ship-state                35
ship-postal-code          35
ship-country              35
B2B                        0
fulfilled-by           89713
New                   128976
PendingS              128976
dtype: int64

In [14]:
df.isnull().sum()[df.isnull().sum()> 0] / df.shape[0] * 100

currency              6.047637
Amount                6.047637
ship-city             0.027137
ship-state            0.027137
ship-postal-code      0.027137
ship-country          0.027137
fulfilled-by         69.557902
New                 100.000000
PendingS            100.000000
dtype: float64

#### "fulfilled-by", "New" and "PendingS" columns have more null velues. They are not required for the analysis. So, it can be removed.

In [15]:
df.drop(["fulfilled-by","New","PendingS","Status"], axis=1, inplace=True)

In [16]:
df.head(2)

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,04-30-22,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,04-30-22,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False

#### Lets analyse "currency" and "ship-country" columns

In [17]:
df["currency"].value_counts()

currency
INR    121176
Name: count, dtype: int64

In [18]:
df["ship-country"].value_counts()

ship-country
IN    128941
Name: count, dtype: int64

In [19]:
# dropping "currency" and "ship-country" columns:
df.drop(["currency","ship-country"], axis=1, inplace=True)

In [20]:
df.columns

Index(['Date', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'Category',
       'Size', 'Courier Status', 'Qty', 'Amount', 'ship-city', 'ship-state',
       'ship-postal-code', 'B2B'],
      dtype='object')

In [21]:
df.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
0,04-30-22,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False
1,04-30-22,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False
2,04-30-22,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True
3,04-30-22,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False
4,04-30-22,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False

### Lets see all the unique values present in categoric columns

In [22]:
df.nunique()

Date                    91
Fulfilment               2
Sales Channel            2
ship-service-level       2
Category                 9
Size                    11
Courier Status           4
Qty                     10
Amount                1408
ship-city             8948
ship-state              69
ship-postal-code      9454
B2B                      2
dtype: int64

In [23]:
df.columns

Index(['Date', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'Category',
       'Size', 'Courier Status', 'Qty', 'Amount', 'ship-city', 'ship-state',
       'ship-postal-code', 'B2B'],
      dtype='object')

In [24]:
df["Fulfilment"].unique()

array(['Merchant', 'Amazon'], dtype=object)

In [25]:
df["Sales Channel"].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [26]:
df["ship-service-level"].unique()

array(['Standard', 'Expedited'], dtype=object)

In [27]:
df["Category"].unique()

array(['T-shirt', 'Shirt', 'Blazzer', 'Trousers', 'Perfume', 'Socks',
       'Shoes', 'Wallet', 'Watch'], dtype=object)

In [28]:
df["ship-state"].unique()

array(['MAHARASHTRA', 'KARNATAKA', 'PUDUCHERRY', 'TAMIL NADU',
       'UTTAR PRADESH', 'CHANDIGARH', 'TELANGANA', 'ANDHRA PRADESH',
       'RAJASTHAN', 'DELHI', 'HARYANA', 'ASSAM', 'JHARKHAND',
       'CHHATTISGARH', 'ODISHA', 'KERALA', 'MADHYA PRADESH',
       'WEST BENGAL', 'NAGALAND', 'Gujarat', 'UTTARAKHAND', 'BIHAR',
       'JAMMU & KASHMIR', 'PUNJAB', 'HIMACHAL PRADESH',
       'ARUNACHAL PRADESH', 'Goa', 'MEGHALAYA', 'GOA', 'MANIPUR',
       'TRIPURA', 'LADAKH', 'DADRA AND NAGAR', 'SIKKIM', 'Delhi', nan,
       'ANDAMAN & NICOBAR', 'Punjab', 'Rajshthan', 'Manipur', 'rajasthan',
       'Odisha', 'NL', 'Bihar', 'MIZORAM', 'punjab', 'New Delhi',
       'Rajasthan', 'Punjab/Mohali/Zirakpur', 'Puducherry', 'delhi', 'RJ',
       'Chandigarh', 'orissa', 'LAKSHADWEEP', 'goa', 'PB', 'APO',
       'Arunachal Pradesh', 'AR', 'Pondicherry', 'Sikkim',
       'Arunachal pradesh', 'Nagaland', 'bihar', 'Mizoram', 'rajsthan',
       'Orissa', 'Rajsthan', 'Meghalaya'], dtype=object)

In [29]:
df["B2B"].unique()

array([False,  True])

## Clean Individual Columns

In [30]:
# Here in "Date" column instead of "2022" some rows have "22".
# We need to convert to a specific standard format.

In [31]:
dates = []
for date in df["Date"]:
    if "2022" in date:
        dates.append(date)
    else:
        date_lst = date.split("-")
        date_lst[2] = "2022"
        dt = f"{date_lst[0]}-{date_lst[1]}-{date_lst[2]}"
        dates.append(dt)

In [32]:
df["Date"] = dates
df.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,B2B
0,04-30-2022,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False
1,04-30-2022,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False
2,04-30-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True
3,04-30-2022,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False
4,04-30-2022,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False

### B2B Column

In [33]:
# rename the column as "Business Model"

df.rename(columns={"B2B":"Business Model"}, inplace=True)

In [34]:
# replace the values:
df["Business Model"].replace({False:"Others", True:"B2B"}, inplace=True)
df["Business Model"].unique()

array(['Others', 'B2B'], dtype=object)

#### Both ship-city and ship-state column have many irrelevant columns. So, we can drop them.

In [35]:
df.drop(["ship-city", "ship-state"], axis=1, inplace=True)

In [36]:
df.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-postal-code,Business Model
0,04-30-2022,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,400081.0,Others
1,04-30-2022,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,560085.0,Others
2,04-30-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,410210.0,B2B
3,04-30-2022,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,605008.0,Others
4,04-30-2022,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,600073.0,Others

**We can get the city, state and location by using the ship-postal-code column and by using another csv file which have all the information of pincode-city-state-location etc..**

##### Change the datatype as int

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                128976 non-null  object
 1   Fulfilment          128976 non-null  object
 2   Sales Channel       128976 non-null  object
 3   ship-service-level  128976 non-null  object
 4   Category            128976 non-null  object
 5   Size                128976 non-null  object
 6   Courier Status      128976 non-null  object
 7   Qty                 128976 non-null  int64
 8   Amount              121176 non-null  float64
 9   ship-postal-code    128941 non-null  float64
 10  Business Model      128976 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 10.8+ MB

In [38]:
pincode = []
for i in df["ship-postal-code"]:
    try:
        a = int(round(i,0))
        pincode.append(a)
    except:
        pincode.append(0)

In [39]:
df['ship-postal-code'] = pincode
df.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-postal-code,Business Model
0,04-30-2022,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,400081,Others
1,04-30-2022,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,560085,Others
2,04-30-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,410210,B2B
3,04-30-2022,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,605008,Others
4,04-30-2022,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,600073,Others

# Pincodes data

In [40]:
pincode_data = pd.read_csv(r"D:\python.practice\My_project\Amazon_Power_BI\Main File\Data_cleaning\pincodes.csv")

In [41]:
pincode_data.head()

   Pincode           City  State
0   110001  Central Delhi  Delhi
1   110002  Central Delhi  Delhi
2   110003  Central Delhi  Delhi
3   110004  Central Delhi  Delhi
4   110005  Central Delhi  Delhi

In [42]:
pincode_data.shape

(21083, 3)

In [43]:
pincode_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21083 entries, 0 to 21082
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pincode  21083 non-null  int64
 1   City     21083 non-null  object
 2   State    21083 non-null  object
dtypes: int64(1), object(2)
memory usage: 494.3+ KB

In [44]:
# rename the "Pincode" column as "ship-postal-code"
pincode_data.rename(columns={"Pincode":"ship-postal-code"}, inplace=True)
pincode_data.head()

   ship-postal-code           City  State
0            110001  Central Delhi  Delhi
1            110002  Central Delhi  Delhi
2            110003  Central Delhi  Delhi
3            110004  Central Delhi  Delhi
4            110005  Central Delhi  Delhi

In [45]:
# add a row for "ship-postal-code = 0"

new_row = pd.DataFrame({"ship-postal-code":[0], "City":["UNKNOWN"], "State":["UNKNOWN"]})

In [46]:
pin_df = pd.concat([pincode_data,new_row], axis=0, ignore_index=True)
pin_df

       ship-postal-code           City        State
0                110001  Central Delhi        Delhi
1                110002  Central Delhi        Delhi
2                110003  Central Delhi        Delhi
3                110004  Central Delhi        Delhi
4                110005  Central Delhi        Delhi
...                 ...            ...          ...
21079            370242        Kachchh      Gujarat
21080            380003      Ahmedabad      Gujarat
21081            742124        Debipur  West Bengal
21082            841247       Darihara        Bihar
21083                 0        UNKNOWN      UNKNOWN

[21084 rows x 3 columns]

In [47]:
df.shape

(128976, 11)

In [48]:
df.columns

Index(['Date', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'Category',
       'Size', 'Courier Status', 'Qty', 'Amount', 'ship-postal-code',
       'Business Model'],
      dtype='object')

In [49]:
pincode_data.shape

(21083, 3)

In [50]:
pincode_data.columns

Index(['ship-postal-code', 'City', 'State'], dtype='object')

## **Now we can join Both the data:**

In [51]:
x = pd.merge(df,pin_df, on="ship-postal-code", how="left")

In [52]:
x.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-postal-code,Business Model,City,State
0,04-30-2022,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,400081,Others,Mumbai,Maharashtra
1,04-30-2022,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,560085,Others,Bengaluru,Karnataka
2,04-30-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,410210,B2B,Raigad,Maharashtra
3,04-30-2022,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,605008,Others,Puducherry,Puducherry
4,04-30-2022,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,600073,Others,Kanchipuram,Tamil Nadu

In [53]:
x.columns

Index(['Date', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'Category',
       'Size', 'Courier Status', 'Qty', 'Amount', 'ship-postal-code',
       'Business Model', 'City', 'State'],
      dtype='object')

In [54]:
x.shape

(128976, 13)

In [55]:
x.isnull().sum()[x.isnull().sum()>0]

Amount    7800
City       126
State      126
dtype: int64

In [56]:
city = []
for i in x["City"]:
    if type(i)==str:
        city.append(i)
    else:
        city.append("UNKNOWN")

In [57]:
x["City"] = city

In [58]:
state = []
for i in x["State"]:
    if type(i)==str:
        state.append(i)
    else:
        state.append("UNKNOWN")

In [59]:
x["State"] = state

In [60]:
x.isnull().sum()[x.isnull().sum()>0]

Amount    7800
dtype: int64

In [61]:
x.drop("ship-postal-code", axis=1, inplace=True)

### Now save the updated data

In [62]:
x.to_csv("amazon_sales_Main_data_set.csv", index=False)

In [63]:
x

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,Business Model,City,State
0,04-30-2022,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,Others,Mumbai,Maharashtra
1,04-30-2022,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,Others,Bengaluru,Karnataka
2,04-30-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,B2B,Raigad,Maharashtra
3,04-30-2022,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,Others,Puducherry,Puducherry
4,04-30-2022,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,Others,Kanchipuram,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...,...
128971,05-31-2022,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,517.00,Others,Hyderabad,Telangana
128972,05-31-2022,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,999.00,Others,Gurgaon,Haryana
128973,05-31-2022,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,690.00,Others,Hyderabad,Telangana
128974,05-31-2022,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,1199.00,Others,Panch Mahals,Gujarat
128975,05-31-2022,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,696.00,Others,Raipur,Chhattisgarh

In [64]:
x.shape

(128976, 12)